*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Noto Sans', 'Helvetica', 'Corbel', sans-serif;
    
}

html{
    scroll-behavior: smooth;
    background-color: #F7F8FA;
}

select{
    padding: 0.3em 0.1em;
    border: 0;
    background-color: #0B2149;
    color: #F7F8FA;
    font-weight: bold;
    font-size: 20px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #0B2149;
    padding: 30px 10%;
    font-size: 16px;
    position: sticky;
    top:0;
}

/* .header :hover, .left :hover, .center :hover, .right :hover{
    background-color: #F7F8FA;
    color: #1865F2;
} */

a, a:visited, a:hover, a:active {
    color: inherit;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
}

.center{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.Title{
    color: white;
}
.right{
    color: white;
    display: flex;
    align-items: center;
}

.links{
    display: flex;
    align-items: center;
}

.links li{
    display: inline-block;
    padding: 10px;
}


.logo{
    cursor: pointer;
}


.left{
    display: flex;
    align-items: center;
    column-gap: 10px;
}


.search{
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    width: 100px;
    height: 25px;
    background-color: #F7F8FA;
}


.search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.search .icon::before{
    
}

.below-header{
    background-color: #0B2149;
    margin-top: 0.4px;
    color: white;
    padding: 60px;
}

.articles{
    margin: 50px;
    width: 900px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
}

.article-img{
    border-radius: 50%;
    width: 40px;
}

.articles a:hover {
    border-bottom: 0.5px solid grey;
 }

 .first-sublinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    list-style: none;
    padding: 10px;
 }

 .column1{
    font-size: 10px;
    font-weight: lighter;
 }

 .column2{
    font-size: 10px;
    font-weight: lighter;
 }

 .article-header{
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
 }

 hr{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    color: grey;
 }

 .sidebar{
    width: 25%;
    height: 25vh;
    min-height: 400px;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
 }

 .wrapper{
    display: flex;
    justify-content: space-around;
 }

 .main{
    width: 60%;
 }

 footer{
    background-color: #0B2149;
    color: white;
    font-size: 14px;
 }

footer a:hover {
    border-bottom: 0.8px solid grey;
 }

 .first-footer-section{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    row-gap: 35px;
 }

 .middle-footer-section{
    padding-left: 100px;
 }
 .countries{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 80px;
    padding-top: 20px;
    align-items: center;
    
 }

 .USA, .INDIA, .MEXICO, .BRAZIL{
    display: flex;
    align-items: center;
    column-gap: 5px;
 }

 .apps{
    padding-top: 20px;;
 }

 .about{
    padding: 5px;
 }

 .links{
    
 }

 .sticky-heading{
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
 }

 .last-footer-section{
    display: flex;
    justify-content: space-between;
    
}
.left-footer{
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    padding: 20px;
    align-items: center;
}

.right-footer{
    display: flex;
    column-gap: 5px;
    align-items: center;
    padding: 20px;
}

.right-footer img:hover{
    filter: brightness(150%);
}

.introduction{
    color: #8295BA;
}

.copyright{
    color: #8295BA;
}

.articles a{
    font-size: 14px;
}